:root {
  /* --main-color: #8750f7; */
  --main-color: #7b48e2;
}
html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: var(--main-color);
}
::selection {
  background-color: transparent !important;
}
.purple {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}
.modal-content {
  background-color: #100d19 !important;
  color: white !important;
  border: 1.7px solid var(--main-color) !important;
  box-shadow: 3px 3px 8px 0px var(--main-color) !important;
  .modal-header button {
    background-color: transparent;
    border: 0;
  }
  /* background-image: linear-gradient(to right, #2f0c3d, #2a1454) !important; */
}
/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(./assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.bread-crumb_bg {
  height: 30vh;
  background-image: url(./assets/breadcrumb-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .main-name {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 3rem;
  }
  .bread-crumb_container {
    width: 100%;
    height: 100%;
    background-color: #0c051399;
  }
}
.close-container {
  position: relative;
  margin: auto;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 0 0 black;
  border-radius: 50%;
  /* padding: 10px; */
}

.leftright {
  height: 8px;
  width: 40px;
  position: absolute;
  margin-top: 21px;
  margin-left: 4px;
  background-color: white;
  border-radius: 3px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 8px;
  width: 40px;
  position: absolute;
  margin-top: 21px;
  margin-left: 4px;
  background-color: white;
  border-radius: 3px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: var(--main-color);
}
.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: var(--main-color);
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #15151b !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  height: 10px !important;
  border-radius: 12px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #663abc;
  border-radius: 12px;
} */

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: #0c0c0e6b !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0 0 30px rgba(135, 80, 247, 0.2);
  /* 0px 10px 10px 7px rgba(9, 5, 29, 0.171) !important; */
  backdrop-filter: blur(18px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: var(--main-color) !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.nav_links {
  color: white !important;
  font-size: 1rem !important;
  transition: 0.3s;
  &:hover {
    color: var(--main-color) !important;
  }
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}
.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo-container {
  img {
    height: 5rem !important;
    width: 6rem !important;
  }
  a {
    color: rgb(250, 250, 250);
    transition: 0.3s;
    &:hover {
      color: #8750f7;
    }
  }
}
.active {
  color: #8750f7 !important;
}
/* tool tip */
.tooltip-inner {
  background-color: var(--main-color) !important;
  opacity: 1 !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: var(--main-color) !important;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #c95bf5;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/* --------- */
/* Home section */
/* --------- */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.home-header {
  padding-top: 50px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    width: 75%;
    @media (width < 575px) {
      width: 100%;
    }
  }
  .text {
    height: auto;
    @media (width < 757px) {
      height: 2.6rem;
    }
  }
}
.links-container {
  @media (width < 991px) {
    width: 100% !important;
  }
}
.home-section {
  overflow: hidden;
  position: relative;
  z-index: 99;
  background: #0f0715;
  /* var(--image-gradient), url(./assets/home-bg.jpg); */
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 322px;
    height: 308px;
    border-radius: 50%;
    background: #8750f7;
    background: -o-linear-gradient(
      190deg,
      var(--main-color) 0%,
      rgba(115, 67, 210, 0) 100%
    );
    background: linear-gradient(
      260deg,
      var(--main-color) 0%,
      rgba(115, 67, 210, 0) 100%
    );
    -webkit-filter: blur(150px);
    filter: blur(150px);
    margin-right: -5%;
    margin-top: -5%;
    z-index: -1;
  }
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: 4rem !important;
}

.heading-name {
  font-size: 2.5em !important;
}
.links-container_button {
  background: transparent;
  padding: 11px 25px;
  border: 2px solid var(--main-color);
  outline: 0;
  border-radius: 25px;
  font-weight: 600;
  color: var(--main-color);
  transition: 0.5s;
  &:hover {
    color: white;
    box-shadow: inset 0 0 0 2em var(--main-color);
  }
}
.links-container_link {
  padding: 6px 10px;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  transition: 0.9s;
  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 2em var(--main-color);
    color: white;
  }
}
.greating {
  -webkit-text-stroke: 2px var(--main-color);
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 18rem;
  text-align: center;
  color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: scale(0.5); */
  transform-origin: center center;
  opacity: 0.5;
  height: 405px;
  max-height: 500px;
  animation: scale infinite 7s;
  z-index: -1;
  scale: 2;
}
@keyframes scale {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.5);
  }
}
.home-hero {
  border: 2px solid var(--main-color);
  background-color: #15151b;
  border-radius: 25px;
  transform: rotate(5deg);
  transition: 0.2s;
  max-height: 500px;
  @media (width < 768px) {
    max-height: 300px;
  }
  &:hover {
    border-color: var(--main-color);
    transform: rotate(0deg);
  }
}
.hero-image_container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #8750f7;
  background: -o-linear-gradient(
    190deg,
    #8750f7 0%,
    rgba(115, 67, 210, 0) 100%
  );
  background: linear-gradient(260deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
  -webkit-filter: blur(150px);
  filter: blur(150px);
  margin-left: -5%;
  margin-bottom: -5%;
}
.main-name {
  background-image: linear-gradient(
    to right,
    var(--main-color) 50%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  background-image: linear-gradient(to right, var(--main-color), #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: var(--main-color) !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

.myAvtar {
  justify-content: center !important;
  padding-top: 9em !important;
  img {
    width: 300px;
    height: 300px;
    @media (width < 991px) {
      width: 200px;
      height: 200px;
    }
  }
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.title-container {
  width: 50%;
  @media (width < 992px) {
    width: 100%;
  }
}
.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
}

.home-about-social h1 {
  font-family: "Sora", sans-serif;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}
.test-hover {
  height: 400px;
  .test-hover_title {
    width: 30%;
    @media (width < 991px) {
      font-size: 1rem !important;
      width: 90%;
    }
  }
}
.tracker {
  position: absolute;
  width: 100%;
  height: calc(100% / 3);
  z-index: -1;
  /* background-image: linear-gradient(to right, #57186f, #2a1454); */
  background-image: linear-gradient(260deg, #2a1454 0%, #8750f7 100%);
  left: 0;
  top: 0;
  transition: 0.5s;
  display: none;
}
.test-hover a {
  display: block;
  height: calc(100% / 3);
  border-bottom: 1px solid var(--main-color);
  transition: 0.5s;
  &:hover {
    border-color: white !important;
  }
}
.test-hover a:nth-child(1) {
  span svg,
  span {
    transition: 0.5s;
    color: var(--main-color);
  }
  span svg {
    transform: rotate(-45deg);
  }
  &:hover ~ .tracker {
    top: 0%;
    display: block;
  }
  &:hover span,
  &:hover span svg {
    color: white;
  }
  &:hover span svg {
    transform: rotate(45deg);
  }
}
.test-hover a:nth-child(2) {
  span svg,
  span {
    transition: 0.5s;
    color: var(--main-color);
  }
  span svg {
    transform: rotate(-45deg);
  }
  &:hover ~ .tracker {
    top: 33.3333333333333%;
    display: block;
  }
  &:hover span,
  &:hover span svg {
    color: white;
  }
  &:hover span svg {
    transform: rotate(45deg);
  }
}
.test-hover a:nth-child(3) {
  span svg,
  span {
    transition: 0.5s;
    color: var(--main-color);
  }
  span svg {
    transform: rotate(-45deg);
  }
  &:hover ~ .tracker {
    top: 66.6666666666666%;
    display: block;
  }
  &:hover span,
  &:hover span svg {
    color: white;
  }
  &:hover span svg {
    transform: rotate(45deg);
  }
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--main-color);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #801f95;
}

.home-social-icons:hover {
  color: #87209e;
  box-shadow: 0 0 5px #87209e;
  text-shadow: 0 0 2px #87209e;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #700c86 !important;
}

/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: #140c1c;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}
.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}
/* scroll-to-top */
.scroll-to-top {
  bottom: 35px !important;
  background: #181226 !important;
  border: 0;
  transition: 200ms !important;
  path,
  svg {
    stroke: var(--main-color) !important;
  }
}
/* --------- */
/* Projects */
/* --------- */
.project-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}

.blog-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.blog-card-view {
  background-color: transparent !important;
  box-shadow: 0 3px 3px 2px rgba(145, 77, 161, 0.459) !important;
  color: white !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.blog-link {
  color: white !important;
  text-decoration: none !important;
}

.blog-link:hover {
  cursor: pointer !important;
}

.blog-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 3px 3px 5px rgba(155, 88, 173, 0.65) !important;
}

.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.blog-img {
  padding: 0px !important;
  opacity: 0.8 !important;
  border-radius: 0px !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #623686 !important;
  border-color: #623686 !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #6d20c5d7 !important;
  border-color: #6d20c5d7 !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.project-heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative !important;
  padding-top: 100px !important;
  padding-bottom: 30px !important;
  background-image: #0f0715 !important;
  color: white !important;
  .main-name {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    @media (width < 757px) {
      padding: 10px 0;
      font-size: 1.5rem !important;
    }
  }
  .content img {
    width: 400px !important;
    height: 300px !important;
  }
}
.tech-icons_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease 0s !important;
  h4 {
    /* font-size: 0.7rem; */
    color: var(--main-color);
    font-weight: 800;
  }
  &:hover img {
    filter: grayscale(0%);
  }
  &:hover .tech-icons {
    border-color: var(--main-color) !important;
  }
}
.tech-icons {
  border: 1.7px solid #140c1c !important;

  position: relative;
  font-size: 4.5em !important;
  transition: 0.5s;
  border-radius: 25px !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  background-color: #140c1c;

  img {
    transition: all 0.4s ease 0s !important;
    filter: grayscale(80%);
    width: 6.5rem !important;
    height: 6.5rem !important;
  }
  button {
    width: 100%;
    background-color: transparent;
    color: white;
    border: 0;
    transition: 0.3s;
  }
  &:hover button {
    color: rgb(173 0 255 / 64%) !important;
  }
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet-active {
  background-color: var(--main-color) !important;
  padding: 7px;
  box-shadow: 0 0 3px 2px var(--main-color);
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}
/* --------- */
/* Resume */
/* --------- */

.resume-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.resume-left {
  padding-right: 80px !important;
}

.resume-right {
  padding-left: 80px !important;
}

@media (max-width: 767px) {
  .resume-left {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .resume-right {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.resume .resume-title {
  font-size: 2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}

.resume .resume-item {
  padding: 0 0 10px 25px;
  margin-top: -2px;
  border-left: 2px solid #8a49a8;
  position: relative;
}

.resume .resume-item .resume-title {
  line-height: 18px;
  font-size: 0.9em;
  background: #5234795d;
  padding: 8px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
  text-align: justify;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
  list-style: none;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #8a49a8;
}

.like-item {
  padding-top: 10px !important;
  font-size: 1.1em !important;
  font-family: sans-serif !important;
}

.like-btn {
  background-color: #934cce5e !important;
  border-color: #934cce5e !important;
  padding: 0.25rem 0.98rem !important;
  border-radius: 5px !important;
  line-height: 1.4 !important;
  transition: 0.3s ease !important;
}

.like-btn:hover {
  transform: translateY(-2px) !important;
  background-color: #a24dd386 !important;
  border-color: #a24dd386 !important;
}

.animate-like {
  animation-name: likeAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.85s;
}
@keyframes likeAnimation {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.fork-btn-inner {
  display: inline-flex;
  background-image: linear-gradient(
    to right,
    #8750f7 0%,
    #2a1454 51%,
    #8750f7 100%
  );
  background-size: 200%;
  border-radius: 50px !important;
  padding: 0.5rem 2rem !important;
  border-radius: 25px !important;
  transition: 0.4s !important;
  border: 0 !important;
  &:hover {
    background-position: -100%;
  }
}
.fork-btn-inner::after {
  display: none !important;
}
.form-container {
  background-image: linear-gradient(to right, #1b0325, #260d56);
  padding: 30px;
  border-radius: 15px;
  input,
  input:focus,
  textarea,
  textarea:focus,
  label::after {
    background-color: #110d1a;
    border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
    box-shadow: none;
    outline: none;
  }
}
.circular-menu {
  position: fixed;
  bottom: 50%;
  right: -1.5em;
  z-index: 500;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.circular-menu .floating-btn svg {
  font-size: 1.3em;
  transition: transform 0.2s;
  color: white !important;
}

.circular-menu.active .floating-btn svg {
  color: var(--main-color) !important;
}

.circular-menu:after {
  display: block;
  content: " ";
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: #151024;
  border: 2px solid var(--main-color);
  transition: all 0.3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.menu-item {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0, 0%, 0%, 0.1);
  transition: transform 0.3s ease, background 0.2s ease;
}
.circular-menu .menu-item svg {
  display: none;
}

.circular-menu.active .menu-item {
  border: 1px solid var(--main-color);
  svg {
    display: inline;
  }

  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(-2em, -6em, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-2em, 6.3em, 0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6em, -2.5em, 0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-6em, 2.5em, 0);
}
